In [1]:
# How to subtract row mean from each row
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df
df.mean(axis =1)
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.078275  0.065350  0.012925
1 -0.314994  0.160374  0.154621
2  0.480624 -0.451426 -0.029198
3  0.191967  0.062363 -0.254330
4 -0.045090  0.078457 -0.033367

In [23]:
# which column has the smallest sum 
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

df.sum().idxmin()

'b'